body {
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;
  overflow-x: hidden; */
  background: #ada6a0;
}

/* a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

input[type="number"] {
  -moz-appearance: textfield;
} */

.main {
  max-width: 1030px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.first-row {
  display: flex;
  justify-content: center;
  height: 101px;
  align-items: center;
}
.logo {
  font-family: Arial;
  font-size: 40px;
  font-weight: 800;
  color: #bebcbb;
}

.second-row {
  display: flex;
  justify-content: center;
}

.third-row {
  display: flex;
  padding: 15px;
  background: white;
  margin-top: 15px;
}

.fourth-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15px;
  background: #bebcbb;
  gap: 10px;
  align-items: center;
}

.container-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  background: #ada6a0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: end;
  background: white;
  padding: 15px;
  width: 200px;
  text-align: justify;
  flex-grow: 1;
}

.fifth-row {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
  background: white;
  padding: 15px;
}

.fifth-row-section-content {
  display: flex;
  justify-content: space-between;
}

.fifth-row-column-one {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0px 0px;
  justify-content: center;
}

.fifth-row-column-two {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0px 10px;
  width: 65%;
}

.fifth-row-column-content-one,
.fifth-row-column-content-two {
  column-gap: 28px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
}

.p {
  font-size: 16px;
}

.span-more {
  text-align: end;
}

.span-title {
  font-weight: 700;
  font-size: 18px;
}

.sixth-row {
  margin-top: 15px;
  padding: 24px !important;
  display: flex;

  background: white;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .fifth-row-section-content {
    flex-direction: column;
    align-items: center;
  }

  .fifth-row-column-one {
    margin-bottom: 15px;
  }

  .container-columns {
    justify-content: center;
  }

  nav,
  ul {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }
}

.centrar {
  position: absolute;
  top: -43%;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.elipse_gausian {
  width: 500px;
  height: 600px;
  background: white;
  border-radius: 100%;
  filter: blur(164px);
}
