nav {
  background-color: white;
  color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
}

li {
  margin-left: 30px;
  margin-right: 20px;
}

img{
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

form {
  display: flex;
  align-items: center;
}

input[type="search"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
